<div class="panel">
	<input  name="btn" value="A" type="button" />
	<input  name="btn" value="B" type="button" />
	<input  name="btn" value="C" type="button" />
	<input  name="btn" value="D" type="button" />
</div>

<div><label>UserName:</label><input id="username" type="text" /></div>
<div><label>Message:</label><input id="txtmessage" type="text" /></div>
<input type="button" id="btn" value="send"/>
<div id="messages"></div>
<select id="room">
	<option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
</select>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/SignalR/Hubs"></script>
<script type="text/javascript">
	var hub = $.connection.chatHub;
	hub.client.userCount = function (count) {
		console.log(count);
	}
	hub.client.sendMessage = function (username, message, groupname) {
		console.log(username, message);
		$("#messages").append('<li><strong>' + username + '</strong>: ' + message + '</li>');
	}
	var str = $("select").val();
	$("select").change(function () {
		$("select option:selected").each(function () {
			str += $(this).text() + " ";
		});
	})
	$.connection.hub.start().done(function () {
	
		$("#btn").click(function () {
			hub.server.subscribe($("#username").val(), $("#txtmessage").val(), str);
		})
	})
</script>


